.loading {
  background-color: #f2e9e0;
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  font-size: 30px;
  height: 45rem;
  width: 100vw;
  line-height: 35rem;
  text-align: center;
}

.loading span {
  display: inline-block;
  margin-right: 5px;
  font-size: 25px;
  color: #000;
  animation: loading-dots 1s infinite;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes loading-dots {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }

  20% {
    opacity: 1;
    transform: scale(1.5);
  }

  50% {
    opacity: 0.2;
    transform: scale(1);
  }
}
